<div class="ui card">
  <div class="image">
    <img src="/images/placeholders/user-placeholder.jpg">
  </div>
  <div class="content">
    <h3 class="header">
      {{#link-to "users.id" user.id}}
        {{user.username}}
      {{/link-to}}
    </h3>
    <div class="meta">
      <span class="date">{{user.id}}</span>
    </div>
    <div class="description">
      Some details about the user here.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>

{{yield}}